.contacts-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        
    }
}

.contacts-menu__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.contacts-menu__link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $transparentTextColor;
    transition: color $mainDuration $mainTimingFunction;

&:hover,
&:focus {
    color: $liteTextColor
}
}