.mobile-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    background-color: $primaryBackgroundColor;
    z-index: 2;
    overflow-y: scroll;
    
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }
}

.mobile-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: $secondaryTextColor;
    outline: none;
    cursor: pointer;
    transition: fill $mainDuration $mainTimingFunction;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: $accentColor;
    }

    &--header {
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &--container {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}

.mobile-menu__pages-list {
    margin-bottom: auto;
}

.mobile-menu__pages-item:not(:last-child),
.mobile-menu__contacts-item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu__contacts-item:last-child {
    margin-bottom: 64px;
}

.mobile-menu__pages-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;

    &:hover,
    &:focus {
        color: $accentColor;
    }

&--current {
    color: $accentColor;
}
}

.mobile-menu__contacts-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accentColor;
}

.mobile-menu__contacts-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primaryTextColor;
}

.mobile-menu__socials-list {
    display: flex;
}

.mobile-menu__socials-item {
    position: relative;
   
    &:not(:first-child) {
        padding-left: 10px;
        }
    
    &:not(:last-child) {
        padding-right: 9px;
    }

    &:not(:last-child)::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: '';
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
    }
}

.mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accentColor;
}