$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$accentColor: #2196F3;
$logoColor: #000000;
$liteTextColor: #FFFFFF;
$transparentTextColor: rgba(255, 255, 255, 0.6);
$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F5F4FA;
$darkBackgroundColor: #2F303A;
$iconColor: #AFB1B8;
$footerFormColor: rgba(255, 255, 255, 0.6);
$footerFormBorderColor: rgba(255, 255, 255, 0.3);
$mainDuration: 250ms;
$mainTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$buttonShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$buttonFilterHoverShadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$personCardShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$productCardHoverShadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);